<%= @account_message %>


<section class='song'>
  <h4>Submit A Song</h4>
    <form action="/account/song" method="post">
      <input type="text" placeholder="name" name="name">
      <input type="duration" placeholder="duration "name="duration">
      <input type="artist" placeholder="artist" name="artist">
      <input type="submit" value="submit">
    </form>
</section>
